<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmazxiaoma.wx.dao.WxUserTimeSheetMapper">
  <resultMap id="BaseResultMap" type="com.cmazxiaoma.wx.model.WxUserTimeSheet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="location_latitude" jdbcType="VARCHAR" property="locationLatitude" />
    <result column="location_longitude" jdbcType="VARCHAR" property="locationLongitude" />
    <result column="location_info" jdbcType="VARCHAR" property="locationInfo" />
    <result column="first_status" jdbcType="SMALLINT" property="firstStatus" />
    <result column="last_status" jdbcType="SMALLINT" property="lastStatus" />
    <result column="first_punch_time" jdbcType="TIMESTAMP" property="firstPunchTime" />
    <result column="last_punch_time" jdbcType="TIMESTAMP" property="lastPunchTime" />
    <result column="punch_date" jdbcType="TIMESTAMP" property="punchDate" />
    <result column="nick_name" property="nickName" />
  </resultMap>


  <select id="findByOpenIdOrNickName" parameterType="map" resultMap="BaseResultMap">
    SELECT wu.nick_name, wuts.* FROM wx_user wu
    LEFT JOIN wx_user_time_sheet wuts ON wu.id = wuts.user_id
    <where>
      <if test="type eq 0">
        wu.openid=#{param}
      </if>

      <if test="type eq 1">
        wu.nick_name=#{param}
      </if>

      <if test="firstDate != null and lastDate != null and firstDate != '' and lastDate != ''">
        AND wuts.punch_date BETWEEN #{firstDate} AND #{lastDate}
      </if>

      ORDER BY punch_date DESC
    </where>
  </select>

</mapper>